<div class="main-grid">
    <div class="main-item" style="padding-top: 50px">
      <button (click)="openWarningDialog()" [disabled]="displayControls.disabledButton" id="startButton" mat-fab color="primary" [innerHTML]="'StartButton' | translate"></button>
    </div>
    <div class="main-item" *ngIf="displayControls.showStats" @fadestatus>
      <div class="status-box">
        <div class="status-box-name">{{ 'ResultsTitle' | translate }}</div>
        <div class="status-box-content">
          <div class="status-box-content-line">
            <div class="key">Download:</div>
            <div class="value">{{download}} Mbps</div>
          </div>
          <div class="status-box-content-line">
            <div class="key">Upload:</div>
            <div class="value">{{upload}} Mbps</div>
          </div>
          <div class="status-box-content-line">
            <div class="key">RTT:</div>
            <div class="value">{{rtt}} ms</div>
          </div>
          <div class="status-box-content-line">
            <div class="key">Jitter:</div>
            <div class="value">{{jitter}} ms</div>
          </div>
          <div class="status-box-content-line">
            <div class="key">{{ 'ResultsRetransmissions' | translate }}</div>
            <div class="value">{{retransmissions}}%</div>
          </div>
          <div class="status-box-content-line">
            <div class="key">IP:</div>
            <div class="value">{{ip}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-item" *ngIf="displayControls.showBasic" @fade>
      <div class="bw-line">
        <div class="bw-item">
          <div class="download">{{download}}</div>
          <div class="unity">&nbsp;Mbps</div>
        </div>
        <div class="bw-item">
          <div class="upload">{{upload}}</div>
          <div class="unity">&nbsp;Mbps</div>
        </div>
      </div>
    </div>
    <div class="main-item" *ngIf="displayControls.showGraph" @fade>
      <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [legendPosition]="legendPosition"
        [legendTitle]="legendTitle" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
        [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi">
      </ngx-charts-line-chart>
    </div>
  </div>